<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stockify: Finance Trade News Stock Prediction and More</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/0.css') }}">
</head>
<body>
    <div class="hero">
        <video autoplay loop muted plays-inline class="bg">
            <source src="{{ url_for('static', filename='videos/Video.mkv') }}">
        </video>
        <nav>
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo">
            <ul>
                <li><a href="0.html">HOME</a></li>
                <li><a href="https://finance.yahoo.com/" target="_blank">NEWS</a></li>
                <li><a href="index.html">STOCKS</a></li>
                <li><a href="5.html">CONTACT  US</a></li>
            </ul>
        </nav>
        <div class="text">
            <h2>ABOUT US</h2>
            <p>Welcome to Stockify, your premier destination for financial empowerment and expert guidance. At Stockify, we are dedicated to providing tailored solutions to enhance your fiscal well-being. Our commitment to transparency and innovation ensures that you make informed decisions on your financial journey. With a team of seasoned experts, we demystify complex financial concepts, offering personalized insights and cutting-edge tools. Explore Stockify's wealth of resources to transform your aspirations into attainable financial goals. Join us on the path to financial prosperity.</p>
            <a href="https://youtu.be/p7HKvqRI_Bo?si=gQjV6DWMwDdQDEJh">STOCK MARKET BASICS</a>
        </div>
    </div>
</body>
</html>
